<%= form_with(model: sub_task,
              url: (@sub_task.new_record? ? [@task, sub_task] : sub_task_path),
              local: true) do |form| %>

  <% if sub_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_task.errors.count, "error") %> prohibited this sub_task from being saved:</h2>

      <ul>
      <% sub_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name, autofocus: true %>


  <%= form.hidden_field :task_id, value: @task.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
