<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_task.name %>
</p>

<p>
  <strong>Task:</strong>
  <%#= @sub_task.task.name %>
  <%= @task.name %>
</p>

<%= link_to 'Edit', edit_sub_task_path(@sub_task) %> |
<%= link_to 'Back', task_sub_tasks_url(@task) %>
